{% extends 'blog/base.html' %}
{% block content %}
    <h1>Django Girls</h1>
    <article>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h3>The blog</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repellat consequatur illo culpa, dicta sequi alias eos quasi! Quisquam voluptate dolorem eligendi ducimus fuga, quo nobis quae fugiat esse illum beatae, suscipit enim eum aspernatur officia quod molestiae. Accusamus tempore omnis veniam laboriosam tempora sit consequuntur temporibus dolore necessitatibus, doloremque delectus autem ipsa soluta in nisi totam corrupti ad id magni vitae? Eaque, repellendus architecto corrupti blanditiis deserunt voluptas illo possimus illum saepe, maiores quaerat. Modi quod omnis voluptatem, sit veniam placeat dolore, minus unde deleniti minima qui delectus odit dolorum iure, perferendis magnam. Velit placeat iure inventore ea impedit!</p>
                    
                    {% for item in post %}
                        {{ item }}
                    {% endfor %}

                    <div class="container">
                        {% for item in post %}
                            <div class="card">
                                <div class="card-header">{{ item.title }}</div>
                                <div class="card-body">{{ item.text|linebreaksbr }}</div> 
                                <div class="card-footer">Published: {{ item.published_date }}</div>
                            </div><br><br>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </article>

{% endblock %}
